.TopMenu
{
 
    text-align: center;
    margin: 1% 10% 0% 10%;
    
   
}
.Tekst
{
    color: black;
    display:inline-flex;
    text-indent: 25px;
  
 
    
}
.sredina
{
    text-align: center;
    margin-top: 3%;
}