@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;



}
body
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
    margin: auto;
    background: linear-gradient(to right, #b92b27, #1565c0)

}

/* 
.card-image .card
{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 200%;
    padding: 3px;
    
} */

.image-content
{
    position: relative;
    row-gap: 5px;



    
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 8%;
    

    
}

.card-image {
    display: block;
    height: 350px;
    width: 100%;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;   
    border-radius: 15%;
    border: 4px solid rgba(27, 27, 39, 0.644);
    background: linear-gradient(to right, #b92b27, #1565c0);

   


}

.slide-content
{
    margin: 0 40px;
}

.slide-container
{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    /* background: linear-gradient(to right, #b92b27, #1565c0); */

}
.card
{
    width: 320px;
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

.image-content,.card-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1%;
   

}
.name
{
    font-size: 18px;
    font-weight: 500;
    color: gray;

}
.name
{
    color: white;
}
.discription
{
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 10%;
}
.button
{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: linear-gradient(to right, #b92b27, #1565c0);
    background: rgba(29, 23, 23, 0.808);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover
{
    background-color: rgba(255, 255, 255, 0);

}
.O-nama h1,.pozdrav,.Objasnjenje
{
    font-family: 'Lexend Deca', sans-serif; 
    color: white;
    
    padding-top: 5%;
   

}

/*.O-nama
{
    
    float: left;
    width:25%;
    height:280px;
    margin: 5%;
    
    text-align: center;
    
    padding-bottom: 20px;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
}*/

.Objasnjenje
{
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    border-style:solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    /*background-color: #EAF0F6;*/
    background: linear-gradient(to right, #b92b27, #1565c0);
    color: white;
    float: right;
    width: 91%;
    height:280px;
    margin: 5%;
    padding-left: 4%;
    padding-right: 4%;
    
}





