<head>

   

</head>
<body>
    <div class="slide-container ">
        <div class="slide-content">
            <div class="card-wrapper ">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="assets/faris.jpg" width="50" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">

                        <h2 class="name">Faris Siocic</h2>
                        <p class="discription">Student Fit-a, jedan od kreatora ove stranice</p>
                        <button class="button">View More</button>
                    </div>

                </div>


                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="assets/karlo.jpg"  width="50" height="10" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">

                        <h2 class="name">Karlo Ivic</h2>
                        <p class="discription">Student Fit-a, jedan od kreatora ove stranice</p>
                        <button class="button">View More</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    
</body>

