<div class="aboutus-page">
    <div class="slide-container ">
        <div class="slide-content">
            <div class="card-wrapper ">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="assets/faris.jpg" width="50" alt="" class="card-img">
                        </div>
                    </div>
    
                    <div class="card-content">
    
                        <h2 class="name">Faris Siocic</h2>
                        <p class="discription">Student Fit-a, jedan od kreatora ove stranice</p>
                        <button class="button">View More</button>
                    </div>
    
                </div>
    
    
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="assets/karlo.jpg"  width="50" height="10" alt="" class="card-img">
                        </div>
                    </div>
    
                    <div class="card-content">
    
                        <h2 class="name">Karlo Ivic</h2>
                        <p class="discription">Student Fit-a, jedan od kreatora ove stranice</p>
                        <button class="button">View More</button>
                    </div>
    
                </div>
    
            </div>
        </div>
    
    
        <div class="Objasnjenje">
            <h1>About us</h1>
             <p class="pozdrav">Pozdrav, hvala Vam sto ste posjetili nasu web stranicu. Mi smo <strong>studenti 3. godine Fakulteta informacijskih tehnologija Mostar</strong> i ovo je produkt naseg seminarskog rada iz predmeta Razvoj Softvera 1.</p>
            <p>Svrha projekta jeste <strong> edukacijskog karaktera </strong>, obnavljanje osnovnih znanja iz raznih oblasti kroz edukacijskih kviz i zabavu.</p>
    
        </div>
    
        
        
    </div>
</div>